@import url(https://fonts.googleapis.com/css?family=Open+Sans);




.searchbar {
  
  float: right;
  width: 300px;
  padding: 1px;
  outline: none;
  text-align: center;
}


/* /////////////////////////////// */
