
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <title>{% block title %}{% endblock %}</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'images/mits_logo.png' %}">

  <style>
  </style>

</head>
<body class="bg-dak">

    <div class="top-content">
      <div class="container-fluid brand">
        <img class="fll" src="{% static 'images/mits_logo.png' %}" alt="">
        <h1 class="fll pt-2">CollegeCart</h1>
      </div>
        <!---- NavBar ---->
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span><i class="fa fa-bars text-white"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li><a href="{% url 'student-dashboard' %}"> <i class="fa fa-home"></i> Home</a></li>
                <li><a href="https://www.mitsgwalior.in" target="__blank">Institution</a></li>
    
                <li><a class="active" href="{% url 'student-login' %}">Login</a></li>
               
                <li><a class="active" href="{% url 'studentlogout' %}">Logout</a></li>
                <div class="navbar-nav mr-auto">
                  <form class="d-flex" method='get' action="{% url 'Search' %}" >
                    <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              </div>
              </ul>
            </div>
          </nav>
        <!---- NavBar ---->
    </div>

   {% block content %}

   {% endblock %}

<!---- Footer ---->
  <div class="footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2 class="">NewsTeller</h2> <hr>
            <div class="subscription lightgreen">
                <form>
                  <div class="input-group">
                    <input name="email" type="text" class="form-control" placeholder='Subscribe for notification'>
                    <a class="btn btn-danger pb-2" href="#" type="button">Subscribe</a>
                  </div>
                </form>
              </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="social-link">
            <h2 class="">Contact Details</h2> <hr>
            <address>
              <span class="text-warning">Madhav Institute of Technology and Science</span>
              ,Gwalior<br>
              0751 240 9354<br>
              mitsgwalior.in
            </address>
            <ul>
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-github"></i></a></li>
              <li><a href="#"><i class="fab fa-bitbucket"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="developer text-center lightgreen">
    <p class="py-2 m-0 text-dark">Copyright ©2022 all rights reserved |<span style='font-weight: bold; color: orangered'>CollegeCart</span> </p>
  </div>
<!---- Footer ---->

  <!-- script -->
  <script src="{% static 'script/profile.js' %}"></script>
  <script src="{% static 'script/uploadImage.js' %}"></script>
  <!-- script -->
</body>

</html>