{% extends 'base.html' %}

<title>{% block title %} College Classfields {% endblock %}</title>

{% block content %}

    <!---- Main Body ---->
    <div class="main-content">
      <div class="overlay">
        <div class="container">
          <div class="showcase">
            <h5 class=''>Madhav Institute of Technology & Science </h5>
            <h6><b>Race course road,Gole Ka Mandir,Gwalior</b></h6>

            <h1><a href="#">Buy & Sell Classfields</a></h1>
             
          </div>

         

          <!-- Paginator -->
        </div>    
        
      </div>
    </div>




<!---- Main Body ---->

{% endblock %}
